  body:before {
    content: "";
    background: purple url(/bg.svg);
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%;
    filter: hue-rotate(330deg) saturate(4.7);
  }
  body {
    margin: 0;
    overflow-x: hidden;
  }
